.tituloContato {
  font-size: 2.2rem;
  margin: 92px 0 0 92px;
}

.paragrafoContato {
  margin: 12px 92px 92px 92px;
  font-size: 1.3rem;
}

table {
  width: 50vw;
}

.form {
  margin: 92px auto;
  border-radius: 3px;
  border: 1px solid #F1F1F1;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .10);
  width: 50vw;
  background-color: #F1F1F1;
}

caption {
  background-image: linear-gradient(90deg,#23476b, #1e3d5b);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 32px;
  padding: 6px 32px;
}

input {
  padding-left: 12px;
}

label, select {
  position: relative;
  left: -6px;
}

label, td, th, input, select {
  display: block;
  color: #363636;
}

input, label, select, #textarea {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
}

#textarea {
  position: relative;
  left: 64px;
  margin-top: 16px;
  font-size: 1.2rem;
  padding: 6px;
}

input, select {
  height: 32px;
  border: 1px solid #909090;
  border-radius: 3px;
  margin-bottom: 16px;
}

input:focus, select:focus, #textarea:focus, #checkbox:focus {
  outline: 1px solid #23476b;
  border-color: #23476b;
  background-color: #F0F0F0;
}

td {
  margin-bottom: 6px;
}

label, #submit {
  cursor: pointer;
}

#checkbox {
  position: absolute;
  left: 398px;
  margin-top: 12px;
  max-width: 32px;
}

.labelCheckbox {
  max-width: 70ch;
  position: relative;
  left: 48px;
  font-size: 0.8rem;
  margin-top: 16px;
}

#submit {
  text-align: center;
  background-color: #1a1f49;
  color: white;
  color: #F1F1F1;
  box-sizing: border-box;
  width: 130px;
  height: 46px;
  padding: 12px 32px;
  border-radius: 3px;
  margin: 32px auto 32px 64px;
}

#submit:hover {
  background-color: #474b6d;
}