.containerDuvidas {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px 64px;
  margin-top: 64px;
  margin-left: 92px
}

.containerPergunta {
  width: 700px;
  max-width: 720px;
  padding: 16px 18px;
  background-color: #e7eaf3;
  border: 1px solid #dee1ee;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .10);
  border-radius: 3px;
  position: relative;
}

.pergunta {
  font-size: 1.2rem;
  margin-left: 28px;
}

.pergunta::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 6px;
  border-radius: 3px;
  background-color: #1a1f49;
  position: absolute;
  left: 18px;
  top: 28px;
}

.pergunta::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../svg/expandir-mais.svg);
  position: absolute;
  right: 8px;
  top: 8px;
}

.resposta {
  font-size: 1rem;
  margin-top: 12px;
  margin-left: 28px;
}

@media (max-width: 1174px) {
  .containerDuvidas {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 32px 0px;
    margin: 64px -16px -12px -16px;
  }
  
  .containerPergunta {
    width: 75vw;
  }

  .sectionDuvidas {
    margin-top: 32px;
  }

  .pergunta {
    font-size: 1rem;
    padding-right: 32px;
  }
  
  .pergunta::before {
    left: 18px;
    top: 28px;
  }
  
  .pergunta::after {
    right: 18px;
    top: 18px;
  }

  .resposta {
    font-size: 0.9rem;
  }
}


@media (max-width: 480px) {
  .sectionDuvidas {
    margin-top: -12px;
  }
}
