/* HEADER */

.header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 16px 92px;
  background-image: linear-gradient(90deg,#23476b, #1e3d5b);
  max-height: 64px;
}

.icone a {
  font-size: 2.5rem;
  font-weight: 700;
  color: #F1F1F1;
  text-shadow: rgba(0, 0, 0, .15);
  transition: 0.3s;
}

.ulLista {
  display: flex;
  gap: 36px;
  margin-top: 16px;
  transition: .3s ease-in-out;
}

.listaItem {
  font-size: 1.2rem;
  color: #F1F1F1;
  transition: 0.3s;
}

.listaItem:hover, .icone a:hover {
  color: #909090;
}

.menuMobileBtn {
  display: none;
}

@media(max-width: 1070px) {
  .header .icone a {
    margin-left: -36px;
  }
}



@media (max-width: 768px) {
  .ulLista {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg,#23476b, #1e3d5b);
    gap: 0px;
    position: absolute;
    top: 66px;
    left: 0px;
    z-index: 2;
    width: 100vw;
    height: 0;
    transition: .6s ease-in-out;
    visibility: hidden;
    overflow-y: hidden;
  }

  .nav.active .ulLista {
    height: 60vh;
    visibility: visible;
    overflow-y: auto;
  }
  
  .listaItem {
    display: block;
    margin-bottom: 18px;
    position: relative;
    left: 57px;
    top: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 16px;
    width: 100vw;
    height: max-content
  }

  .menuMobileBtn {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    outline: none;
    border-top: 3px solid #F1F1F1;
    background-color: #23476b;
    position: absolute;
    right: 64px;
    top: 32px;
    cursor: pointer;
  }

  .menuMobileBtn::before, .menuMobileBtn::after {
    content: '';
    display: block;
    height: 3px;
    width: 28px;
    background-color: #F1F1F1;
    margin: 6px 0;
    transition: .3s ease;
    position: relative;
  }

  .nav.active .menuMobileBtn {
    border-top-color: transparent;
  }

  .nav.active .menuMobileBtn::before {
    rotate: 135deg;
  }
  
  .nav.active .menuMobileBtn::after {
    rotate: -135deg;
    top: -9px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-wrap: wrap;
    padding: 16px;
  }
  
  .header .icone a {
    font-size: 2.2rem;
    margin-left: 25px;
  }
  
  .ulLista {
    gap: 12px;
    margin-top: 16px;
  }

  .listaItem {
    left: 42px;
  }
  
  .listaItem {
    font-size: 1.1rem;
  }
}