* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background: linear-gradient(90deg, #F4F6FF, #dee1ee); 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  color: #000628;
}

[data-animar] p, [data-animar] .containerPergunta {
  opacity: 0;
  transform: translateY(-100px);
  transition: 1s;
}

[data-animar] p.show, [data-animar] .containerPergunta.show {
  opacity: 1;
  transform: translateY(0);
}